# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env

# VSCode settings
.vscode/

# macOS
.DS_Store

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
